<ion-view view-title="Select a country">

    <ion-content padding="true">

        <ion-refresher pulling-text="Refreshing..." refreshing-text="Retrieving list of countries..." on-refresh="ctrl.refresh()">
        </ion-refresher>

        <ion-list>
            <ion-item ng-repeat="c in ctrl.countries " ng-click="ctrl.showCurrency(c.currency, $index) " class="item-thumbnail-left ">
                <img src="/img/{{c.name}}.png " alt=" ">
                <h2>{{c.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>