<ion-view view-title="{{ctrl.data.base}} as on {{ctrl.data.date}}">


    <ion-nav-buttons side="right">
        <button class="button icon ion-arrow-right-c" ng-click="ctrl.showNext()">
        </button>
    </ion-nav-buttons>


    <ion-content padding="true">

        <ion-list>
            <ion-item ng-repeat="r in ctrl.data.rates" class="item-thumbnail-left">
                <img src="/img/{{r.name}}.png" alt="">
                <h2>{{r.currency}}</h2>
                <h1>{{r.rate}}</h1>
            </ion-item>
        </ion-list>
    </ion-content>

</ion-view>